PORT=8003
DATABASE_LOCATION="./database/mirareru.db"
SEARCH_MOVIES=https://api.themoviedb.org/3/search/movie
SEARCH_SERIES=https://api.themoviedb.org/3/search/tv
SEARCH_ANIME=https://graphql.anilist.co
TOKEN=[Your TMDB API Read Access Token here]